body,
html {
  background-color: black;
  font-family: "Major Mono Display", monospace;
}

button {
  font-family: "Major Mono Display", monospace;
  width: 100%;
  height: 20vh;
  border: 15px solid #74a295;
  font-size: 10vw;
  background-color: #c4c376;
  color: black;
  outline: none;
  &:active {
    background-color: #9fab3e;
    border: 15px solid #c6ff66;
    color: #edf79c;
  }
}

#container {
  border: 20px solid black;
}

#title {
  color: #edf79c;
  text-align: center;
  font-size: 8vw;
}
